<div id="form">
  <% form_for :voter, @voter, :url => { :action => "create" } do |f| %>          
    <%= f.label :street_address %>
    <%= f.text_field :street_address, :id => "address" %>
    <%= f.label :city %>
    <%= f.text_field :city, :id => "city" %> 
    <%= f.label :name %>
    <%= f.text_field :name, :id => "name" %>  
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :id => "phone" %>        
    <%= f.label :email %>
    <%= f.text_field :email, :id => "email" %>
    <%= f.label :date %>
    <%= f.text_field :date_searched, :id => "date" %>
    <%= f.submit "SEARCH" %>
  <% end -%> 
</div>