<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.custom.min", "votefinder" -%>
    <%= stylesheet_link_tag "ui-darkness/jquery-ui-1.8.custom", "vote" %>
    <title>Map Tool</title>
  </head>
  <body onload="initialize();" id="earlyvote">
    <div id="header">
  		<a href="http://rory2010.com"><img src="/images/vote_logo.png" width="419" height="91" class="logo"></a>
  		<div id="header-box"><h2>Early Vote is open from May 22 through June 4!</h2></div>
    </div>	
    <div id="wrapper">
      <ul>
      	<li><a href="#main">Find your early voting location.</a></li>
        <li><a href="#faq">Questions?</a></li>
      </ul>

      <div id="main">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        <div id="map_canvas"></div>
        <%= yield %>
        </div>
        <div id="faq"><ul><li>Question 1</li></ul></div>
      </div>
    </div>
  </body>
  <% if params[:action] == 'new' %>
    <%= render :partial => "javascript" %>
  <% elsif params[:action] == 'show' %>
    <%= render :partial => "javascript", :locals => {:voter => @voter} %>
  <% end %>
</html>​